---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Immobilière Pujol – L'agence immobilière la plus recommandée par ses clients"
  description="Gestion locative, syndic de copropriété, vente de biens immobilier. Immobilière Pujol l'agence immobilière LA PLUS RECOMMANDÉE PAR SES CLIENTS"
>
  <section class="hero">
    <h1>Nous croyons que l'immobilier est fait de belles expériences</h1>
  </section>

  <section class="services">
    <h2>Nos Services</h2>
  </section>

  <section class="experts">
    <h2>Nos experts</h2>
  </section>

  <section class="blog">
    <h2>En direct de notre blog</h2>
  </section>

  <section class="reviews">
  </section>

  <section class="newsletter">
  </section>
</BaseLayout>
