---
export const prerender = false;
import AdminLayout from '../../../layouts/AdminLayout.astro';
---
<AdminLayout title="Pages" section="pages">
  <h1>Pages légales</h1>
  <div class="card">
    <p>Module en cours de construction. Prochaine étape : liste des pages + éditeur HTML.</p>
  </div>
</AdminLayout>
